[project]
name = "whatskovi"

[plugins]
postgresql = { name = "database" }
redis = { name = "cache" }

[[services]]
name = "backend"
root = "backend"

  [services.environment]
  PORT = "3001"
  NODE_ENV = "production"

  [services.build]
  builder = "NIXPACKS"

  [services.deploy]
  startCommand = "npx prisma migrate deploy && npm run start"

[[services]]
name = "frontend"
root = "frontend"

  [services.environment]
  PORT = "3000"
  NODE_ENV = "production"
  NEXT_TELEMETRY_DISABLED = "1"

  [services.build]
  builder = "NIXPACKS"

  [services.deploy]
  startCommand = "npm run start"
